@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbit', sans-serif;
}

a { 
  text-decoration: none;
  color: inherit;
}

ul { list-style-type: none; }

main {
  padding: 1rem;
}

header {
  padding: 20px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 6px 1em;
  background: steelblue;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn.btn-danger { background: #e60; }

.memo-list {
  margin-top: 20px;

  li {
    padding: 1rem;
    background: #eee;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

main {
  max-width: 768px;
  margin: 0 auto;
  h2 { margin-bottom: 1em;}
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
  input, textarea {
    width: 100%;
    padding: 8px;
  }
}


